@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script:wght@700&family=Noto+Sans+KR&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400&display=swap');
/* :root {
    --header-h: 48px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

/* --- Nav Bar --- */

.nav-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    padding: 0 40px;
}

.logo {
    width: 120px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo i {
    font-size: 20px;
    color: #F05D3E;
}

.logo p {
    font-size: 20px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    color: #fff;
    font-size: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    height: 80px;
}

nav ul li .sub-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    width: 130px;
    height: 90px;
    top: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    padding-left: 5px;
}

nav ul li .sub-menu li {
    margin: 0;
    width: 100%;
    padding: 10px 5px;
}

nav ul li a:hover {
    cursor: pointer;
    color: #F05D3E;
}

nav ul li:hover .sub-menu {
    transition: 0.8s ease;
    opacity: 1;
}

nav ul li:hover .nav-bar {
    height: 180px;
    /* transition: 1s ease; */
}

/* --- Search Section--- */

.container {
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.3)),url(food.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h1 {
    color: #fff;
    text-align: center;
    margin: 0 auto 50px;
    font-weight: 600;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

form input {
    /* flex: 1; */
    width: 40%;
    height: 70px;
    border: 0;
    outline: 0;
    font-size: 18px;
    padding: 0 30px;
    border-radius: 8px 0px 0px 8px;
}

form button {
    padding: 0 40px;
    height: 100%;
    font-size: 18px;
    border: 0;
    outline: 0;
    background: #F05D3E;
    color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}



/* --- Result Section --- */

#search-result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}

.food-item {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.8);
    margin: 32px 0;
}

.food-img img {
    width: 100%;
    display: block;
}

.food-name {
    padding: 24px 8px;
}

.recipe-btn {
    text-decoration: none;
    color: #fff;
    background: #F05D3E;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 0;
    display: block;
    width: 175px;
    margin: 16px auto;
    border-radius: 32px;
    text-align: center;
}

.food-name h3 {
    font-size: 22px;
    padding-left: 10px;
}

.notFound {
    color: #3f0d03;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    grid-template-columns: 1fr!important;
    text-align: center;
}

#showmore-btn {
    color: #000;
    font-size: 24px;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

/* --- Food Details --- */
.food-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background: #F05D3E;
    border-radius: 16px;
    width: 70%;
    height: 70%;
    overflow-x: hidden;
    padding: 32px 0;
    display: none;
}

.food-details-content {
    text-align: center;
}

.food-details-content p:not(.recipe-category) {
    padding: 16px 0;
}

.food-details::-webkit-scrollbar{
    width: 10px;
}

.food-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 32px;
}

.recipe-close-btn {
    position: absolute;
    right: 32px;
    top: 32px;
    font-size: 28px;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.recipe-title {
    letter-spacing: 1px;
    padding-bottom: 16px;
}

.recipe-category {
    background: #fff;
    font-weight: 600;
    color: #F05D3E;
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
}

.recipe-instruct {
    padding: 16px 0;
}

.recipe-food-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link {
    margin: 22px 0;
}

.recipe-link a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.5s linear;
}

.recipe-link a:hover {
    opacity: 0.8;
}


.showRecipe {
    display: block;
}

.food-details-content {
    margin: 32px;
}

/* ---- Footer ----- */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 60px;
}

.footer h3 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons i {
    color: #F05D3E;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* --- 오늘 뭐 먹지 --- */

/* --- Title Section --- */

.sub-container {
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(fruit.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-container h1 {
    padding-top: 160px;
}

/* --- Form Recommend --- */

.form-recommend {
    width: 100%;
    height: 80vh;
}

.side-bar {
    background: rgba(0,0,0,0.75);
    width: 290px;
    height: 100%;
}

/* .side-bar .menu {
    padding-top: 20px;
} */

.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

.side-bar .menu img {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}
.side-bar .menu .item a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    display: flex;
    align-items: center;
}

.side-bar .menu .item a:hover {
    background: #F05D3E;
    transition: 0.3s ease;
}

.side-bar .menu .item a .dropdown {
    position: absolute;
    color: #fff;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
    background: rgba(255,255,255,0.3);
}

.side-bar .menu .item .sub-menu a {
    padding-left: 80px;
}

.side-bar .menu .item a .down {
    rotate: 90deg;
}